QWidget {
  background-color: #ffffff;
}

QLabel#heading {
  color: #2da9b9;
  font-size: 35px;
  font-weight: bold;
}

QLabel#heading_gain {
  color: #076105;
  font-size: 30px;
  font-weight: bold;
}


QLabel#heading_loss {
  color: #9f1919;
  font-size: 30px;
  font-weight: bold;
}


QLabel#subheading {
  color: #2da9b9;
  font-size: 25px;
  font-weight: bold;
}

QLabel#gain {
  color: #076105;
  font-size: 18;
  font-weight: bold;
}

QLabel#loss {
  color: #9f1919;
  font-size: 18;
  font-weight: bold;
}

QPushButton {
    background-color: #2da9b9;
    color: #ffffff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    min-width: 5em;
    padding: 5px;
}

QLabel {
    font-size: 18px;
    font-weight: bold;
}

QFrame#line {
    background-color: #2da9b9;
}
