* {
     font-weight: bold;
}
 QWidget {
     background-color: #ffffff;
}
 QLabel#heading {
     color: #2da9b9;
     font-size: 35px;
}
 QLabel#subheading {
     color: #2da9b9;
     font-size: 25px;
}
 QPushButton {
     background-color: #2da9b9;
     color: #ffffff;
     border-radius: 10px;
     font-size: 18px;
     min-width: 5em;
     padding: 5px;
}
 QLabel {
     font-size: 18px;
}
 QFrame#line {
     background-color: #2da9b9;
     color: #2da9b9;
}
 QScrollBar:vertical {
     border: 2px solid #2da9b9;
     background: #ffffff;
     width: 15px;
     margin: 0px 0px 0px 0px;
}
 QScrollBar::handle:vertical {
     background: #2da9b9;
}
 QScrollBar::add-line:vertical {
     background: #2da9b9;
     height: 0px;
     subcontrol-position: bottom;
     subcontrol-origin: margin;
}
 QScrollBar::sub-line:vertical {
     background: #2da9b9;
     height: 0px;
     subcontrol-position: top;
     subcontrol-origin: margin;
}
