* {
     font-weight: bold;
}
 QWidget {
     background-color: #ffffff;
}
 QLabel#heading {
     color: #2da9b9;
     font-size: 35px;
}
 QLabel#heading_gain {
     color: #076105;
     font-size: 30px;
}
 QLabel#heading_loss {
     color: #9f1919;
     font-size: 30px;
}
 QLabel#subheading {
     color: #2da9b9;
     font-size: 25px;
}
 QLabel#gain {
     color: #076105;
     font-size: 18;
}
 QLabel#loss {
     color: #9f1919;
     font-size: 18;
}
 QPushButton {
     background-color: #2da9b9;
     color: #ffffff;
     border-radius: 10px;
     font-size: 18px;
     min-width: 5em;
     padding: 5px;
}
 QLabel {
     font-size: 18px;
}
 QFrame#line {
     background-color: #2da9b9;
}
